.menu {
  width: 90vw;
  height: 100vh;
  background-color: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s;
  z-index: -1;
}

.menu.active {
  transform: translateX(0%);
}

@media (min-width: 1024px) {
  .menu.active {
    transform: translateX(100%);
  }
}
