.button {
  width: fit-content;
  font-family: var(--font01);
  font-size: 14px;
  font-weight: 700;
  padding: 7px 15px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  transition: 0.5s;
}

.button.light {
  background-color: var(--rgba00);
  color: var(--black);
  border-color: var(--black);
  &:hover {
    background-color: var(--rgba02);
  }
}

.button.dark {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
  &:hover {
    background-color: var(--rgba07);
  }
}

.button.truelight {
  background-color: var(--rgba00);
  color: var(--white);
  border-color: var(--white);
  &:hover {
    background-color: var(--rgba02);
  }
}

.button.darkergreen {
  background-color: var(--rgba00);
  color: var(--darkergreen);
  border-color: var(--darkergreen);
  &:hover {
    background-color: var(--rgba02);
  }
}
