.main {
  width: 100vw;
  height: fit-content;
  display: flex;
  position: absolute;
  top: 8vh;
  flex-direction: column;
  align-items: center;
  z-index: -4;
}

@media (min-width: 768px) {
  .main {
    padding: 40px 0px;
  }
}
