@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --green01: #006241;
  --rgba01: rgba(0, 0, 0, 0.1);
  --rgba02: rgba(0, 0, 0, 0.2);
  --rgba06: rgba(0, 0, 0, 0.6);
  --rgba07: rgba(0, 0, 0, 0.7);
  --font01: "Urbanist", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
