.disclaimer {
  width: 80vw;
  font-family: var(--font01);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .disclaimer {
    width: 40vw;
  }
}
